.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-contents{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    width: 100%;
    gap: 80px;
}
.footer-contents-left , .footer-contents-right, .footer-contents-centre{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-contents-left li, .footer-contents-right li, .footer-contents-centre li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-contents-right h2, .footer-contents-centre h2{
    color: white;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}
.footer-contents-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.footer-contents-left p{
    margin: 0;
}

@media (max-width: 750px){
    .footer-contents{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}